# Network Configuration
NEXT_PUBLIC_RPC_URL=https://rpc.orchard.quai.network
NEXT_PUBLIC_CHAIN_ID=15000
NEXT_PUBLIC_EXPLORER_URL=https://orchard.quaiscan.io

# Wallet / Account
CYPRUS1_PK=
INITIAL_OWNER=

# Deployed Contract
NEXT_PUBLIC_DEPLOYED_CONTRACT=

# Token Deployment Parameters
TOKEN_NAME=Test Token
TOKEN_SYMBOL=TST
TOKEN_INITIAL_SUPPLY=1000000
